@model Library.PL.WebPL.Models.Newspaper.EditNewspaperVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" id="formCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="City"></label>
                <input asp-for="City" />
                <span asp-validation-for="City" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Publisher"></label>
                <input asp-for="Publisher" />
                <span asp-validation-for="Publisher" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="PublicationYear"></label>
                <input asp-for="PublicationYear" />
                <span asp-validation-for="PublicationYear" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Pages"></label>
                <input asp-for="Pages" />
                <span asp-validation-for="Pages" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="IssueNumber"></label>
                <input asp-for="IssueNumber" />
                <span asp-validation-for="IssueNumber" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="IssueDate"></label>
                <input asp-for="IssueDate" />
                <span asp-validation-for="IssueDate" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="ISSN"></label>
                <input asp-for="ISSN" />
                <span asp-validation-for="ISSN" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description">
            </textarea>
                <span asp-validation-for="Description" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    Edit
                </button>
                <a class="btn btn-warning" style="width:150px" asp-controller="Book" asp-action="Index">
                    Go back to list
                </a>
            </div>
        </form>
    </div>
</div>
