@model Library.PL.WebPL.Models.Patent.EditPatentVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" id="formCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Country"></label>
                <input asp-for="Country" />
                <span asp-validation-for="Country" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="RegistrationNumber"></label>
                <input asp-for="RegistrationNumber" />
                <span asp-validation-for="RegistrationNumber" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="PublicationDate"></label>
                <input type="date" asp-for="PublicationDate" />
                <span asp-validation-for="PublicationDate" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Pages"></label>
                <input asp-for="Pages" />
                <span asp-validation-for="Pages" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="ApplicationDate"></label>
                <input type="date" asp-for="ApplicationDate" />
                <span asp-validation-for="ApplicationDate" class="alert-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"> 
            </textarea>
                <span asp-validation-for="Description" class="alert-danger"></span>
            </div>

            <div class="row mb-3">
                <button type="submit" class="btn btn-primary" style="width:150px">
                    Edit
                </button>
                <a class="btn btn-warning" style="width:150px" asp-controller="Book" asp-action="Index">
                    Go back to list
                </a>
            </div>
        </form>
    </div>
</div>
